<p tuiTextfieldSize="m" class="filters">
  <tui-input class="input" [(ngModel)]="startsWith"> Find on page </tui-input>
</p>
<tui-loader
  [showLoader]="loading"
  [inheritColor]="true"
  [overlay]="true"
>
  <table tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'title'" tuiTh>Title</th>
        <th *tuiHead="'description'" tuiTh>Short description</th>
        <th *tuiHead="'status'" tuiTh>Status</th>
        <th *tuiHead="'tags'" tuiTh [sorter]="null">Tags</th>
      </tr>
    </thead>
    <tbody
      *tuiLet="problems | tuiTableSort as sortedProblems"
      tuiTbody
      [data]="sortedProblems"
    >
      <tr *ngFor="let item of sortedProblems; let index = index" tuiTr>
        <td *tuiCell="'title'" tuiTd>{{ index + 1 }}. {{ item.title }}</td>
        <td *tuiCell="'description'" tuiTd>
          {{ item.description.substring(0, 15) }}
        </td>
        <td *tuiCell="'status'" tuiTd>
          <div [class]="item.status">{{ item.status ?? "Easy" }}</div>
        </td>
        <td *tuiCell="'tags'" tuiTd>
          <tui-tag
            *ngFor="let tag of item.tags"
            class="tui-space_right-1"
            [value]="tag.tag"
            [autoColor]="true"
          ></tui-tag>
        </td>
      </tr>
    </tbody>
  </table>
  <tui-table-pagination
    [total]="totalCount"
    [items]="sizeOptions"
    [page]="page"
    (pageChange)="onPageChange($event)"
    (sizeChange)="onSizeChange($event)"
  ></tui-table-pagination>
</tui-loader>
