.header-container{
    margin: 20px 0px;
}

.container{
    padding: 30px;
}

.problem-container{
    display: flex;
    gap: 20px;
    height: calc(100vh - 200px);
}

.description-container{
    display: block;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
    overflow-y: auto;
    width: 800px;
    background-color: darken(#FFF, 5%);

    & > h2{
        margin: 10px 0px 20px 0px;
        border-bottom: 2px solid darken(#FFF, 80%);
    }

    & > .tag-container{
        display: flex;
        gap: 10px;
    }
}

.editor-container{
    display: block;
    width: 800px;
}