<form [formGroup]="filterForm">
  <p tuiTextfieldSize="m" class="filters">
    <tui-input class="input" formControlName="startsWith">
      Find by title
    </tui-input>
    <tui-multi-select
      placeholder="Ignored text"
      class="b-form"
      formControlName="difficulty"
      [editable]="false"
      [tuiTextfieldLabelOutside]="true"
    >
      Task difficulty
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="difficulties"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </p>
</form>
