.filters {
  margin: 50px 0 10px 0;
  display: flex;
  gap: 5px;

  & > tui-input {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 85%;
  }

  & > tui-multi-select {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
  }
}
