:host {
  .code-header{
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;

    & > *{
      min-height: 38px;
      max-height: 38px;
      margin: 0 !important;
    }

    button{
      flex-grow: 1;
      margin-bottom: 5px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .language-selector {
      width: 200px;
      margin-bottom: 10px;
    }

    .editor-container {
      width: 100%;
      flex: 1;
    }

    .button-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
