<ng-template #playIcon>
  <tui-svg
      src="tuiIconPlay"
  ></tui-svg>
</ng-template>
<ng-template #submitIcon>
  <tui-svg
      src="tuiIconArrowDown"
  ></tui-svg>
</ng-template>
<div class="container" [formGroup]="problemForm">
  <div class="code-header">
    <div class="language-selector">
      <tui-select tuiTextfieldSize="s" formControlName="language">
        Character
        <input tuiTextfield placeholder="Choose language" />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="Possible_Languages"
        ></tui-data-list-wrapper>
      </tui-select>
    </div>
    <div class="button-container">
      <button
        size="s"
        tuiButton
        type="button"
        class="tui-space_right-4"
        [icon]="playIcon"
        (click)="onRunCodeClick()"
      >Run code</button>
    </div>
    <div class="button-container">
      <button
        size="s"
        tuiButton
        type="button"
        class="tui-space_right-4"
        [icon]="submitIcon"
        (click)="onSubmitClick()"
      >Submit code</button>
    </div>
  </div>
  <div class="editor-container">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="editorOptions"
      formControlName="code"
    ></ngx-monaco-editor>
  </div>
</div>
