:host {
  .code-header{
    display: flex;
    gap: 5px;
    align-content: center;
    width: 100%;
    button{
      flex-grow: 1;
      width: 100px;
      margin-bottom: 5px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .language-selector {
      width: 200px;
      margin-bottom: 10px;
    }

    .editor-container {
      width: 100%;
      flex: 1;
    }

    .button-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
