:host {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .language-selector {
      width: 200px;
      margin-bottom: 10px;
    }

    .editor-container {
      width: 100%;
      flex: 1;
    }

    .button-container{
      display: flex;
      align-items: center;
      justify-content: center;

      button{
        width: 30%;
      }
    }
  }
}
