.container {
  margin: 20px 0px;
  width: 100%;
}

.row{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.graph_column{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  background-color: var(--tui-base-02);
  border-radius: 10px;
}

:host {
  --tui-chart-0: var(--tui-support-05);
  --tui-chart-1: var(--tui-support-07);
  --tui-chart-2: var(--tui-support-03);
  --tui-chart-3: var(--tui-support-22);
  --tui-chart-4: var(--tui-support-22);
}