<div class="container">
  <div class="row">
    <div class="graph_column">
      <tui-ring-chart [value]="value" [(activeItemIndex)]="index">
        <div>{{ sum }}</div>
        <div>{{ label }}</div>
      </tui-ring-chart>
    </div>
    <div class="graph_column">
      <tui-ring-chart [value]="value" [(activeItemIndex)]="index">
        <div>{{ sum }}</div>
        <div>{{ label }}</div>
      </tui-ring-chart>
    </div>
    <div class="graph_column">
      <tui-ring-chart [value]="value" [(activeItemIndex)]="index">
        <div>{{ sum }}</div>
        <div>{{ label }}</div>
      </tui-ring-chart>
    </div>
    <div class="graph_column">
        <tui-ring-chart [value]="value" [(activeItemIndex)]="index">
          <div>{{ sum }}</div>
          <div>{{ label }}</div>
        </tui-ring-chart>
      </div>
  </div>
</div>
