.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: var(--tui-support-11);

    & > *{
        margin: 20px 0px;
    }
}

.burger-container{
    position: relative;
}

.logo{
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;

    span {
        margin-left: 10px;
    }
}

.right_part {
    height: 100%;
    display: flex;
    align-items: center;

    .theme_switcher{
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-right: 20px;
        border-right: 3px solid var(--tui-support-08);

        span{
            margin-right: 5px;
            font-size: medium;
            font-weight: bold;
        }
    }
}

.profile{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    span{
        margin-left: 5px;
    }
}