<div class="container">
  <div class="burger-container">
    <app-burger-button></app-burger-button>
  </div>
  <div class="logo">
    <tui-avatar class="tui-space_top-1" [avatarUrl]="logo"></tui-avatar>
    <span>CodeBytes</span>
  </div>
  <div class="right_part">
    <div class="theme_switcher">
      <span>Theme</span>
      <tui-toggle size="l" [showIcons]="true"></tui-toggle>
    </div>
    <div class="profile">
      <tui-avatar
        new
        text="Wisdou"
        size="s"
        [avatarUrl]="avatar"
        class="tui-space_vertical-1"
      ></tui-avatar>
      <span>Wisdou</span>
    </div>
  </div>
</div>
